.idea
Calc/lib
Calc/templates_c
Calc/app/templates_c
Calc/app/security/templates_c
BD/lib
BD/templates_c
BD/app/templates_c
BD/app/security/templates_c
cards/lib
cards/templates_c
cards/app/templates_c
cards/app/security/templates_c
cards/public/security/templates_c
cards/public/templates_c